<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BoriTest</title>
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/styles.min.css">
</head>

<body style="background: #002649;">
<nav class="navbar navbar-expand-md" style="background: #d12d33;">
    <div class="container-fluid"><a class="navbar-brand" href="#"
                                    style="color: rgb(255,255,255);font-size: 24px;font-family: 'Berkshire Swash', serif;">BoriTest</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="#"
                                        style="color: rgb(255,255,255);font-family: 'Albert Sans', sans-serif;font-size: 18px;">About</a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
            </ul>
        </div>
    </div>
</nav>

{{{body}}}

<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>