<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Boricua Test</title>
    <link rel="shortcut icon" type="image/x-icon" href="public/images/favicon.ico">
    <link  rel="stylesheet" href="public/css/w3.css"/>
    <link  rel="stylesheet" href="public/images/backgrounds.css"/>
</head>

<body class="background-1">

<ul class="w3-navbar w3-red">
  <li><a class="w3-hover-blue w3-large" href="/">Boricua Test</a></li>
</ul>

{{{body}}}

</body>
</html>
