<div class="container" style="padding: 36px;">
    <div class="card" style="height: 600px;border-radius: 0px;border-style: none;">
        <div class="card-body" style="padding: 32px;">
            <h3 class="card-title" style="font-family: 'Albert Sans', sans-serif;font-size: 36px;text-align: center;">
                About BORITEST: Verifica cuan Boricua tu eres
            </h3>
            <p class="card-text" style="font-family: 'Albert Sans', sans-serif;font-size: 16px;">
                Escribe un parafo un
                oracion y presiona "Test" para verifiacar cuantas palabras de la jerga boricua utilizaste en el
                texto.
            </p>
        </div>
    </div>
</div>