<div class="container" style="padding: 36px;">
    <div class="card" style="height: 600px;border-radius: 0px;border-style: none;">
        <div class="card-body" style="padding: 32px;">
            <h4 class="card-title" style="font-family: 'Albert Sans', sans-serif;font-size: 36px;text-align: center;">
                Verifica cuan Boricua tu eres</h4>
            <p class="card-text" style="font-family: 'Albert Sans', sans-serif;font-size: 16px;">Escribe un parafo u
                oracion y presiona "Test" para verifiacar cuantas palabras de la jerga boricua utilizaste en el
                texto:</p>
            <form style="background: #ffffff;text-align: center;" ref='Form' id='Form' action='/boritest' method='get'
                  encType='multipart/form-data'>
                <textarea type='text' name='userInput' placeholder="{{placeHolder}}" class="form-control"
                          style="font-family: 'Albert Sans', sans-serif;border-radius: 0px;border-width: 3px;border-color: rgb(0,38,73);margin-bottom: 16px;"
                          rows="7"></textarea>
                <button class="btn btn-primary" type="submit" value="Submit"
                        style="background: rgb(0,38,73);font-family: 'Albert Sans', sans-serif;border-radius: 0px;">Test
                </button>
            </form>
        </div>
    </div>
</div>